@import "{{ site.theme }}";

h1 {
  padding: -1px;
  font-style:monospace;
  position:relative;
  top:-15px;
  left:83px;
}
h2 {
  padding:-1px;
  font-style:italic;
  position:relative;
  top:-5px;
  left:72px;
}
img {
  border: 3mm ridge rgb(69, 67, 64, .6);
  position:relative;
  left:9px;
  top:-7px;
}
h3 {
  position:relative;
  top:2px;
  left:13px;
}
.nottitlestuff {
  position:relative;
  top:0x;
  left:8px;
  padding:2px;
}
